// GENERAL STYLES
h1, h2{
    margin:0;
}

h2{
    padding:10px 0 ;
}
body{
    color:$text-color;
}

section{
    padding-top:50px;
    padding-bottom: 50px;
}

ul{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:$text-color;
}

.wrapper{
    max-width:1200px;
    margin: 0 auto;
    width: 90%;
}

.flex{
    display:flex;
}

img{
    max-width: 95%;
}

.flex.image{
    justify-content: center;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

// THIS ONE TO SKIP A SECTION COUNT
.null{
    display: none;
}

section:nth-child(even){
    background: $primary-color;
}

header h3{
    width:50%;
}

textarea{
    resize: none;
}

.hero{
    padding:15px;
    border-radius: 25px;
    margin:5%;
    font-size: 1.5rem;
    align-items: flex-start;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}
    
.skip-link:focus {
    left: 50%;
}

// FOOTER STYLES
footer{
    background: $text-color;
    color:#fff;
    text-align: center;
    padding:10px 0;
    p{
        margin:0;
    }
}  

@media (min-width: 319px){
    
    .logo{
        position: absolute;
        left:10%;
    }

    nav{
        display: flex;
        justify-content: flex-end;
    }

    .navbar{
        list-style: none;
        flex-direction: column;
        
        // TRANSPARENT BORDER TO PREVENT TEXT FROM MOVING
        li{
            border-bottom: 2px solid transparent;
        }

        li:hover{
            border-bottom: 2px solid $shadow-color;
        }
        
    }

    // BUTTONS STYLES
    .button{
        color:white;
        background: $secondary-color;
        border:none;
        text-transform: uppercase;
        margin-bottom: 10%;
        padding-top: .6rem;
    }

    .button:hover{
        color:$shadow-color;
        transform: scale(1.1);
    }

    // FORM STYLES
    form{
        input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
            background: rgb(168, 235, 60);
        }

        ::placeholder {
            text-transform: uppercase;
            opacity: 1;
            color: $text-color;
        }

        input, textarea{
            padding:20px;
            margin-bottom: 20px;
            background:$primary-color;
            border: none;
            border-bottom: 2px solid $secondary-color;
        }

        textarea{
            border: 2px solid $secondary-color;
        }

        .submit{
            border:none;
            background: $secondary-color;
            color: #fff;
            text-transform: uppercase;
            font-family: "Kumar One", sans-serif;
        }
    }
}

@media (min-width: 480px){
    .navbar{
        justify-content:flex-end;
    }

    .hero {
        width: 40%;
        padding-left: 5%;
    }
}

@media (min-width: 768px){
    .navbar{
        padding-top:30px;
        flex-direction: row;
        li{
            margin:0 25px;
        }
    }

    .comment-form, .contact-form>form{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        input[type="text"], input[type="email"]{
            width: 46%;
        }

        textarea, input[type="submit"]{
            flex-basis: 100%;
        }
    }
}
