
@media (min-width:319px){


    // HEADER STYLES
    .header{
        background-image: url(../images/header-home.jpg);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: cover;
        display: flex;
        flex-direction: column;

        .header-img{
            justify-content: flex-start;
            flex-basis: 25%;
            position: relative;

            img{
                position: relative;
                margin-bottom: -15%;
            }
        }    
    }

    // MATERIALS STYLES

    .materials {
        .small-box{
            width:100%;
            max-width: 100%;
        }
    }

    // GALLERY STYLES
    .gallery-content{
        position: relative;
        height:calc(35vh + (100vw / 4));
        width:100%;
        align-items: center;

        img{
            max-width:95%;
            position: absolute;
            animation-name: fade;
            animation-iteration-count: infinite;
            animation-duration: 9s;
        }

        .gallery-image2{
            animation-delay: -3s;
        }

        .gallery-image3{
            animation-delay: -6s;
        }
    }

    // INFO STYLES

    .info{
        .title{
            align-items: baseline;
            justify-content: center;
            position: relative;
            padding-left: 20px;
        }

        .icon{
            height: 30px;
            max-width:30px;
            border: 15px solid $shadow-color;
            background: $shadow-color;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            padding:10px;

            i{
                padding-left:3px;
            }
        }
    }

    // NEWS STYLES

    .news{
        .content{
            flex-direction: column;
            align-items: center;
            margin: 0 5%;
        }

        .post{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    // WALLPAPER STYLES

    .wallpaper{
        background-image: url(../images/banner-image.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    // SEARCH STYLES
    .search{
        background: #fff;
        .content{
            align-items: center;
        }
    }
}

@media (min-width: 480px){
    .header{
        .header-img{
            max-width: 60%;
        }
    }

    .materials{
        padding-top:25vh;

        .small-box{
            box-shadow: -$shadow-sm $shadow-sm $shadow-color;
        }

        .materials-content{
            display:flex;
            align-items: center;
            justify-content: space-evenly;

            .content{
                flex-basis:50%;
            }

            .image{
                align-self: center;
                flex-basis:35%;
            }
        }    
    }

    .news{
        .content{
            margin:5%;
        }

        .post-left{
            img{
                box-shadow: $shadow-sm $shadow-sm $shadow-color;
            }
        }

        .post-right{
            img{
                box-shadow: -$shadow-sm $shadow-sm $shadow-color;
            }
        }
    }

    .wallpaper{
        height: 30vh;
    }
}

@media (min-width: 768px){
    // HEADER SECTION

    .header{
        .hero{
            background: none;
        }
    }

    // MATERIALS SECTION
    .materials{
        padding-top:150px;
        .materials-content{
            .button{
                align-self: flex-start;
            }
            justify-content: space-between;
            .content{
                flex-basis:60%;
            }
    
            .image{
                flex-basis:25%;
            }
        }
    }

    // GALLERY SECTION
    .gallery{
        padding:0;
        .gallery-content{
            img{
                position:relative;
                animation: none;
                margin:10px;
                width:calc((100% / 3) - 20px);
            }
        }
    }

    // INFO SECTION
    .info{
        .info-posts{
            display: flex;
            flex-wrap: wrap;
            .info-post{
                align-items: flex-start;
                flex-basis: 50%;
            }
            .title{
                padding:0 10px;
            }

            .icon{
                height: 30px;
                max-width:30px;
                border: 20px solid $shadow-color
            }
        }
    }

    // NEWS SECTION
    .news{
        img{
            max-width: none;
            width:100%;
        }

        .image-left{
            margin-top:$y-offset;
        }

        .image-right{
            margin-bottom: $y-offset;
        }

        .content{
            margin:0;
            flex-direction: row;

            .post-text{
                display:flex;
                flex-direction: column;
            }

            .post-right{
                display: flex;
                flex-direction: column-reverse;
                margin-left: 100px;
            }

            .text-right{
                align-items: flex-start;
            }

            .post-left{
                margin-right:100px;
            }

            .text-left{
                align-items: flex-end;
                p{
                    text-align: right;
                }
            }
        }
    }

    // WALLPAPER SECTION
    .wallpaper{
        height: 60vh;
    }
}