@media (min-width:320px){
    p{
        font-size: 1.8rem;
    }
    //BLOG HEADER STYLES
    .blog{
        background-image: url(../images/blog-image.jpg);
        background-position-x: calc(-75% + 50vw);
        padding-bottom:40px;
        h3{
            margin: 0;
            width:50%;
            padding:20px;
        }
        .hero{
            padding:10% 5%;
            margin-bottom: 0;
        }
    }

    .post{
        background: $section-color;
        img{
            max-width:100%;
        }
    }

    article{
        background: #fff;
        padding:40px 0;
    }

    // BLOG COMMENTS STYLES

    .comments{
        h4{
            text-transform: uppercase;
            margin:0 0 30px 10px;
            font-size: 1.8rem;
            line-height: 2.5rem;
        }

        .comment{
            margin-bottom:40px;
            img{
                align-self: flex-start;
                flex-basis:20%;
            }
            .comment-text{
                flex-basis:70%; 
            }
        }
    }

    // ASIDE STYLES
    .aside{
        align-items: center;
        background: $shadow-color;
        li{
            font-size: 1.8rem;
        }
    }
}
