@media (min-width:320px){
    p{
        font-size: 1.8rem;
    }
    //BLOG HEADER STYLES

    
    
    .blog{
        background-image: url(../images/blog-image.jpg);
        background-position-x: center;
        padding-bottom:100px;
        background-size: cover;
        

        h3{
            margin: 0;
            width:50%;
            padding:20px;
        }
        .hero{
            padding:20px;
            margin-bottom: 20px;
        }
    }

    .post{
        .footprint{
            margin-right:10%;
            background: #fff;
            padding-bottom: 40px;
            
        }
        background: $primary-color;
        .blog-image{
            max-width:100%;
            box-shadow: $shadow-sm $shadow-sm $shadow-color;
        }
    }

    article{
        background: #fff;
    }

    // BLOG COMMENTS STYLES

    .comments{
        .footprint{
            background: $primary-color;
            margin:0;
        }
        h4{
            text-transform: uppercase;
            margin:0 0 30px 10px;
            font-size: 1.8rem;
            line-height: 2.5rem;
        }

        .comment{
            margin-bottom:40px;
            img{
                align-self: flex-start;
                flex-basis:20%;
                margin-right:20px;
            }
            .comment-text{
                flex-basis:70%; 
            }
        }
    }

    // ASIDE STYLES
    .aside{
        align-items: center;
        background: $shadow-color;
        li{
            font-size: 1.8rem;
        }

        img{
            padding-top:30px;
        }
    }
}

@media (min-width: 480px){
    .blog{
        padding-bottom: 200px;
    }
    .post{
        .blog-image{
            max-width:none;
            width:100%;
            margin-top:-20%;
        }

        .footprint{
            box-shadow: $shadow-sm +2px $shadow-sm $shadow-color, -$shadow-sm $shadow-sm $shadow-color;
            max-width: 65%;
        }
    }

    .comments{
        max-width:100%;
        .footprint{
            max-width:75%;
        }
    }

    .aside{
        .aside-content{
            flex-direction: row;
            .image-container, .mission, .recent-posts{
                flex-basis: 30%;
                margin: 0 10px;
            }
        }
    }
}


@media (min-width: 768px){
    .aside{
        position: absolute;
        right: 0;
        top:100vh;
        width:25vw;
        padding-bottom: 20px;
        .aside-content{
            flex-direction: column;
            .image-container{
                width:100%
            }
        }
    }
    
}

@media (min-width: 940px){
}

