
@media(min-width: 319px){
    // CONTACT STYLES

    .contact{
        background-image: url(../../images/contact-image.jpg);
        background-repeat: no-repeat;
        background-position-x: right;
        background-size: cover;
        padding-bottom:40px;

        h3{
            margin: 0;
            width:50%;
            padding:20px;
        }
            
        .hero{
            margin-bottom: 0;
            font-size: 1.25rem;
        }
    }
    .contact-form{
        input[type="text"], input[type="email"], textarea{
            background: #fff;
        }
    }

    .social a{
        color:$secondary-color;
        margin:0 10px;
    }

    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .address{
            width:50%;
        }
    } 
}