@import "setup";
@import "typography";
@import "variables";
@import "animations";
@import "index";
@import "blog";
@import "contact";

// GENERAL STYLES

h1{
    margin:0;
}
body{
    color:$text-color;
}

section{
    padding-top:50px;
    padding-bottom: 50px;
}

ul{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:$text-color;
}

.wrapper{
    max-width:1200px;
    margin: 0 auto;
    width: 85%;
}

.flex{
    display:flex;
}

img{
    max-width: 95%;
}

.flex.image{
    justify-content: center;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.button{
    color:white;
    background: $secondary-color;
    border:none;
    text-transform: uppercase;
    margin-bottom: 10%;
    padding-top: .6rem;
}

.null{
    display: none;
}

section:nth-child(even){
    background: $primary-color;
}

textarea{
    resize: none;
}

@media (min-width: 319px){
    
    .logo{
        position: absolute;
        left:10%;
    }

    .navbar{
        list-style: none;
        flex-direction: column;
    }

    // FORM STYLES
    form{
        ::-moz-placeholder {
            text-transform: uppercase;
            opacity: 1;
            color: $text-color;
            
        }

        input{
            margin-bottom: 20px;
            border: none;
            background:$primary-color;
            border-bottom: 2px solid $secondary-color;
        }
        
        textarea{
            background:$primary-color;
            border: 2px solid $secondary-color;
            margin-bottom:20px;
        }

        .submit{
            border:none;
            background: $secondary-color;
            color: #fff;
            text-transform: uppercase;
            font-family: "Kumar One", sans-serif;
        }
    }
}

@media (min-width: 480px){
    .navbar{
        flex-direction: row;
        justify-content:flex-end;
        padding-right:20px;
        li{
            flex-basis: 10%;
            display: inline;
            padding:20px;   
        }
    }
}

// FOOTER STYLES
footer{
    background: $text-color;
    color:#fff;
    text-align: center;
    padding:10px 0;
    p{
        margin:0;
    }
}  
