@import "typography";
@import "setup";
@import "variables";
@import "animations";
@import "index";
@import "blog";
// @import "navbar";

// GENERAL STYLES
h1{
    margin:0;
}
body{
    color:$text-color;
}

section{
    padding-top:50px;
    padding-bottom: 50px;
}

ul{
    margin:0;
}

a{
    text-decoration: none;
    color:$text-color;
}

.wrapper{
    max-width:1200px;
    margin: 0 auto;
    width: 85%;
}

.flex{
    display:flex;
}

img{
    max-width: 95%;
}

.flex.image{
    justify-content: center;
}

.just-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.button{
    color:white;
    background: $button-color;
    border:none;
    text-transform: uppercase;
    margin-bottom: 10%;
    padding-top: .6rem;
}

section:nth-child(even){
    background: $section-color;
}

// FOOTER STYLES
footer{
    background: $text-color;
    color:#fff;
    text-align: center;
    padding:10px 0;
    p{
        margin:0;
    }
}  
