article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, .navbar, .button {
  text-transform: uppercase;
}

body, .navbar {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Kumar One Outline", sans-serif;
}

h2, h3, .button {
  font-family: "kumar one", sans-serif;
}

h3 {
  font-family: "Kumar One";
}

body {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.2rem;
}

.navbar {
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 0.14rem;
  font-weight: 700;
  text-align: center;
}

.button {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
}

@media (min-width: 319px) {
  p {
    line-height: 2.8rem;
  }
  h1 {
    font-size: 3.3rem;
    line-height: 4rem;
  }
  h2 {
    font-size: 1.7rem;
    letter-spacing: .5px;
    line-height: 3.5rem;
  }
  header .navbar {
    text-align: right;
  }
}

@media (min-width: 480px) {
  h1 {
    font-size: 3.8rem;
    line-height: 4rem;
    font-weight: 500;
  }
  h2 {
    font-size: 2rem;
    letter-spacing: .5px;
    line-height: 3.5rem;
  }
  .button {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 5.1rem;
    line-height: 5.5rem;
  }
  h2 {
    font-size: 2.6rem;
  }
}

@media (min-width: 940px) {
  h1 {
    font-size: 6.8rem;
    line-height: 6.4rem;
  }
  h2 {
    font-size: 3.3rem;
    line-height: 5.8rem;
    letter-spacing: 0.21rem;
  }
  h3 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.12rem;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 319px) {
  .header {
    background-image: url(../images/header-home.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header-img {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    position: relative;
  }
  .header .header-img img {
    position: relative;
    margin-bottom: -15%;
  }
  .materials .small-box {
    width: 100%;
    max-width: 100%;
  }
  .gallery-content {
    position: relative;
    height: calc(35vh + (100vw / 4));
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-content img {
    max-width: 95%;
    position: absolute;
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
  }
  .gallery-content .gallery-image2 {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
  }
  .gallery-content .gallery-image3 {
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
  }
  .info .title {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-left: 20px;
  }
  .info .icon {
    height: 30px;
    max-width: 30px;
    border: 15px solid #f8fb05;
    background: #f8fb05;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    padding: 10px;
  }
  .info .icon i {
    padding-left: 3px;
  }
  .news .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 5%;
  }
  .news .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wallpaper {
    background-image: url(../images/banner-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .search {
    background: #fff;
  }
  .search .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 480px) {
  .header .header-img {
    max-width: 60%;
  }
  .materials {
    padding-top: 25vh;
  }
  .materials .small-box {
    -webkit-box-shadow: -15px 15px #f8fb05;
            box-shadow: -15px 15px #f8fb05;
  }
  .materials .materials-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .materials .materials-content .content {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .materials .materials-content .image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .news .content {
    margin: 5%;
  }
  .news .post-left img {
    -webkit-box-shadow: 15px 15px #f8fb05;
            box-shadow: 15px 15px #f8fb05;
  }
  .news .post-right img {
    -webkit-box-shadow: -15px 15px #f8fb05;
            box-shadow: -15px 15px #f8fb05;
  }
  .wallpaper {
    height: 30vh;
  }
}

@media (min-width: 768px) {
  .header .hero {
    background: none;
  }
  .materials {
    padding-top: 150px;
  }
  .materials .materials-content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .materials .materials-content .button {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .materials .materials-content .content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .materials .materials-content .image {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .gallery {
    padding: 0;
  }
  .gallery .gallery-content img {
    position: relative;
    -webkit-animation: none;
            animation: none;
    margin: 10px;
    width: calc((100% / 3) - 20px);
  }
  .info .info-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info .info-posts .info-post {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .info .info-posts .title {
    padding: 0 10px;
  }
  .info .info-posts .icon {
    height: 30px;
    max-width: 30px;
    border: 20px solid #f8fb05;
  }
  .news img {
    max-width: none;
    width: 100%;
  }
  .news .image-left {
    margin-top: -20%;
  }
  .news .image-right {
    margin-bottom: -20%;
  }
  .news .content {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .news .content .post-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .content .post-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 100px;
  }
  .news .content .text-right {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .news .content .post-left {
    margin-right: 100px;
  }
  .news .content .text-left {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .news .content .text-left p {
    text-align: right;
  }
  .wallpaper {
    height: 60vh;
  }
}

@media (min-width: 320px) {
  p {
    font-size: 1.8rem;
  }
  .blog {
    background-image: url(../images/blog-image.jpg);
    background-position-x: center;
    padding-bottom: 100px;
    background-size: cover;
  }
  .post {
    background: #e0fddf;
  }
  .post .footprint {
    margin-right: 10%;
    background: #fff;
    padding-bottom: 40px;
  }
  .post .blog-image {
    max-width: 100%;
    -webkit-box-shadow: 15px 15px #f8fb05;
            box-shadow: 15px 15px #f8fb05;
  }
  article {
    background: #fff;
  }
  .comments .footprint {
    background: #e0fddf;
    margin: 0;
  }
  .comments h4 {
    text-transform: uppercase;
    margin: 0 0 30px 10px;
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
  .comments .comment {
    margin-bottom: 40px;
  }
  .comments .comment img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin-right: 20px;
  }
  .comments .comment .comment-text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .aside {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f8fb05;
  }
  .aside li {
    font-size: 1.8rem;
  }
  .aside img {
    display: none;
  }
}

@media (min-width: 480px) {
  .post .blog-image {
    max-width: none;
    width: 100%;
    margin-top: -20%;
  }
  .post .footprint {
    -webkit-box-shadow: 17px 15px #f8fb05, -15px 15px #f8fb05;
            box-shadow: 17px 15px #f8fb05, -15px 15px #f8fb05;
    max-width: 65%;
  }
  .comments {
    max-width: 100%;
  }
  .comments .footprint {
    max-width: 75%;
  }
  .aside .aside-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aside .aside-content .image-container, .aside .aside-content .mission, .aside .aside-content .recent-posts {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin: 0 10px;
  }
  .aside img {
    display: inline-block;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .aside {
    position: absolute;
    right: 0;
    top: 160vh;
    width: 25vw;
    padding-bottom: 20px;
  }
  .aside .aside-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aside .aside-content .image-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
  }
  .aside .aside-content .image-container img {
    padding: 0;
    margin-top: -10%;
  }
}

@media (min-width: 319px) {
  .contact {
    background-image: url(../../images/contact-image.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
  }
  .contact-form {
    padding: 30px;
    width: 100%;
    background: #fff;
  }
  .contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    background: #fff;
  }
  .contact-info {
    background: #e0fddf;
    padding: 0;
  }
  .contact-info .contact-other .social a {
    color: #065635;
    margin: 0 10px;
  }
  .contact-info .contact-other .contact-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 480px) {
  .contact {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .contact {
    height: 70vh;
  }
  .contact-info .contact-form {
    padding: 30px;
    margin-top: -10%;
    -webkit-box-shadow: 15px 15px #f8fb05;
            box-shadow: 15px 15px #f8fb05;
  }
  .contact-info {
    padding-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-info .contact-form {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .contact-other {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

h1, h2 {
  margin: 0;
}

h2 {
  padding: 10px 0;
}

body {
  color: #151514;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #151514;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 95%;
}

.flex.image {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.null {
  display: none;
}

section:nth-child(even) {
  background: #e0fddf;
}

header h3 {
  width: 50%;
}

textarea {
  resize: none;
}

.hero {
  padding: 15px;
  border-radius: 25px;
  margin: 5%;
  font-size: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 50%;
}

footer {
  background: #151514;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
}

@media (min-width: 319px) {
  .logo {
    position: absolute;
    left: 10%;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar {
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar li {
    border-bottom: 2px solid transparent;
  }
  .navbar li:hover {
    border-bottom: 2px solid #f8fb05;
  }
  .button {
    color: white;
    background: #065635;
    border: none;
    text-transform: uppercase;
    margin-bottom: 10%;
    padding-top: .6rem;
  }
  .button:hover {
    color: #f8fb05;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    background: #a8eb3c;
  }
  form ::-webkit-input-placeholder {
    text-transform: uppercase;
    opacity: 1;
    color: #151514;
  }
  form :-ms-input-placeholder {
    text-transform: uppercase;
    opacity: 1;
    color: #151514;
  }
  form ::-ms-input-placeholder {
    text-transform: uppercase;
    opacity: 1;
    color: #151514;
  }
  form ::placeholder {
    text-transform: uppercase;
    opacity: 1;
    color: #151514;
  }
  form input, form textarea {
    padding: 20px;
    margin-bottom: 20px;
    background: #e0fddf;
    border: none;
    border-bottom: 2px solid #065635;
  }
  form textarea {
    border: 2px solid #065635;
  }
  form .submit {
    border: none;
    background: #065635;
    color: #fff;
    text-transform: uppercase;
    font-family: "Kumar One", sans-serif;
  }
}

@media (min-width: 480px) {
  .navbar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .hero {
    width: 40%;
    padding-left: 5%;
  }
}

@media (min-width: 768px) {
  .navbar {
    padding-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar li {
    margin: 0 25px;
  }
  .comment-form, .contact-form > form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .comment-form input[type="text"], .comment-form input[type="email"], .contact-form > form input[type="text"], .contact-form > form input[type="email"] {
    width: 46%;
  }
  .comment-form textarea, .comment-form input[type="submit"], .contact-form > form textarea, .contact-form > form input[type="submit"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
